.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

/* .portfolio-item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
} */

.portfolio-item  .btn {
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-white);
}

.portfolio-item-image {
    /* border-radius: 1.5rem 1.5rem 0rem 0rem; */
    overflow: hidden;
}

.portfolio-item-image img {
    height: 11.5rem;
    /* object-fit: contain; */
}

.portfolio-text h3 {
    color: var(--color-white);
}

.portfolio-item-cta {
    display: flex;
    gap: 1rem;
    /* margin-bottom: 1rem; */
}

.portfolio-text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.desc {
    color: var(--color-bg);
    font-size: 1.1em;
    background: var(--color-white);
    border-radius: 10px;
    padding: 4px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .portfolio-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }
    
}

@media screen and (max-width: 600px) {
    #portfolio {
        padding: .5rem !important;
    }
    
    .container {
        width: 100% !important;
    }

    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        column-gap: auto;
    }

    .portfolio-item {
        font-size: .6em;
        padding: 0rem;
        border-radius: 1rem;
    }

    .portfolio-item-image {
        border-radius: .9rem .9rem 0rem 0rem;
        overflow: hidden;
    }

    .portfolio-item-image img {
        height:7rem;
        /* object-fit: contain; */
    }

    .portfolio-text {
        padding: 0 .5rem;
    }

    .portfolio-item h3 {
        text-align: center;
    }

    .portfolio-item .btn {
        padding: .4rem;
        font-size: 1.2em;
    }

    .portfolio-item-cta {
        display: flex;
        margin-bottom: 1rem;
        padding: 0rem .5rem;
        justify-content: space-between;
    }
    
}