.container.contact-container {
    /* width: 58%; */
    display: grid;
    /* grid-template-columns: 30% 58%; */
    gap: 12%;
    justify-items: center;
}

.contact-options {
    display: flex;
}

.contact-option {
    background: var(--color-blue-variant);
    width: 12rem;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    margin: .6rem;
}

.contact-option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact-option-icon {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    color: var(--color-orange);
}

.contact-option h5 {
    color: var(--color-light);
}

.contact-option h4 {
    color: var(--color-orange);
}

.contact-option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #e3e3e3;
    border: 2px solid var(--color-white);
}

/* MEDIA QUERIESS */
@media screen and (max-width: 1024px) {
    .container.contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container.contact-container {
        width: var(--container-width-sm);
    }

    .contact-options {
        flex-direction: column;
    }
    
}